
.settings-import-container {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 1, 0.09);
  height: calc(100% - 105px);
  margin: 4px 20px 0;
  position: relative;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .import-options {
    height: 100%;
  }

  .import-step-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h4 {
      margin-bottom: 30px;
    }

    button {
      color: white;
      align-items: center;
      background-color: #0091ff;
      border-radius: 13px;
      cursor: pointer;
      display: flex;
      height: 26px;
      padding: 0 15px;
      margin: auto;
      margin-top: 30px;
    }

    .dialog-container {
      margin: 25px 0px;
    }

    span {
      font-size: 15px;
    }

    .import-input-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    select {
      margin-top: 20px; 
      width: 230px;
    }

    input{
      background-color: transparent;
      border: none;
      border-bottom: solid 1px #8a8a8a;
      font-size: 12px;
      font-weight: 300;
      outline: none;
      margin: 20px 10px 10px 10px;
      width: 200px;
      height: 30px;
      padding-right: 20px;

      &:focus {
        border-bottom: solid 1px #0091ff;
      }
    }

    .import-success-circle {
      background: #58a40b;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 30px;
      border-radius: 50%;
      margin: 20px auto;
    }
  }
}